<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB CURHAT PIK-R SMAKDA</title>
    <link rel="stylesheet" href="components/style.css">
</head>
<body>
    <header>
        <img src="components/logo-smk2.png" class="logo"> 
        <div class="welcome-message">WELCOME TO PIK-R CURHAT</div>
        <img src="components/logo-pikr.png" class="logo"> 
    </header>

    
    <section class="content">
        <div class="container">
            <h1>WEB CURHAT PIK-R SMAKDA</h1>
            <form id="reportForm">
                <textarea id="message" placeholder="Input your curhat here" required></textarea>
            </form>
        </div>
        <button type="submit">Kirim</button>
    </section>


    <footer>
        <p>&copy; 2025 COM SMAKDA. All rights reserved. | <a class="footer-link" href="https://www.instagram.com/com_smakdapinrang?igsh=MXNzYjVid2pva2IxaQ==">Community Programmer</a></p>
    </footer>
    
    <script src="components/script.js"></script>
</body>
</html>